<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入／註冊</title>
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
</head>
<body>
    <h1>登入／註冊</h1>
    <p>你的 SESSION_ID => <%= sessionID %></p>
    <p>設定上保留 <%= sessionOriginMaxAge %> 秒</p>
    <p>尚餘 <%= sessionExpireTime %> 秒</p>
    <p>第 <%= views %> 次來到此站</p>
    <form id="_form" action='/login' method='POST'>
        【登入】<br>
        email: <input type="text" name="email">
        password: <input type="text" name="password">
        <input type="submit">
    </form>
    <form id="_form" action='/register' method='POST'>
        【註冊】<br>
        email: <input type="text" name="email">
        password: <input type="text" name="password">
        <input type="submit">
    </form>
    <% if ( verifyFailure !== 'undefined' && verifyFailure.length  ){ %>
        <script>alert("  <%= verifyFailure  %> ")</script>
    <% } else if ( registerSuccess !== 'undefined' && registerSuccess.length  ){ %>
        <script>alert("  <%= registerSuccess  %> ")</script>
    <% } %>
</body>
</html>
